@import "tailwindcss";

:root {
  --background-back: #FCF9DE;
  --background-front: #7d94b6;
  --button-color: #325670;
  --button-hover: #1f3d53;
  --text-white: #FFFFFF;
  --text-black: #000000;
}

body {
  background: var(--background);
  font-family: var(--font-inter);
  font-weight: 400;
}

main {
  background: var(--background);
}

.name {
  font-family: var(--font-lexend-zetta);
}