@import "tailwindcss";

:root {
  --background: #FCF9DE;
  --button-color: #325670;
  --button-hover: #1f3d53;
  --text-white: #FFFFFF;
  --text-black: #000000;
}

body {
  background: var(--background);
  font-family: var(--font-inter);
  font-weight: 400;
}

.name {
  font-family: var(--font-lexend-zetta);
}

/* button {
  background-color: var(--button-color);
  color: var(--text-white);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
} */
